.FormLogin {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__fields {
    width: 50%;
  }

  &__buttons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__reset-btn {
    margin-right: 10px;
  }
}
